server:
  port: ${APPLICATION_PORT}

kafka:
  topics:
    events: events

spring:
  config:
    import: "classpath:shared.yaml"
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    consumer:
      group-id: chat-consumers
      auto-offset-reset: earliest
  data:
    mongodb:
      database: ${MONGO_DATABASE_NAME}
      uri: ${MONGO_DATABASE_URI}

handler:
  events:
    users:
      kafka:
        topic: users.events
      rabbit:
        exchange: users.events
      pubsub:
        subscription: users.events
