server:
  port: ${SPRING_SERVER_PORT}

kafka:
  topics:
    events: events

spring:
  config:
    import: "classpath:shared.yaml"
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    consumer:
      group-id: chatogt-user-management
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
  data:
    mongodb:
      database: ${MONGO_DATABASE_NAME}
      uri: ${MONGO_DATABASE_URI}
      auto-index-creation: true

handler:
  events:
    users:
      kafka:
        topic: users.events
      rabbit:
        exchange: users.events
      pubsub:
        subscription: users.events
